h1 {
 	color: white;

 }

 h2 {
 	font-family: 'Pacifico', cursive;
 	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 60px;
 }


 .title h1 {
 	color: white;
 	font-family: 'Pacifico', cursive;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 60px;
 }

 .jumbotron {
 	font-family: 'Raleway', sans-serif;
 }

